<footer>
  <div class="container">
    <div class="footer-widget-row">
        <div class="widget-title col-sm-4 b">
          <%= image_tag("cover-photo.png", alt: "Colorful Camels Cover Photo", title: "Colorful Camels", style: "background-color: #fff;") %>
          </br>
          <p></p>
          <blockquote class="blockquote blockquote-reverse">
            <p class="mb-0">"A new shared, dynamic, interactive space for [the Connecticut] College community awareness and introspective, honest discussions about systemic racism."</p>
            <footer class="blockquote-footer">Marie Ostby <cite title="Assistant Professor of English">Assistant Professor of English</cite>
            </footer>
          </blockquote>
        </div>
        
        <div class="widget-title col-sm-8 row">
          
          <div class="col-sm-9">
            <h3> <i class="fa fa-users"></i> Created By: <a href="tarimolab.digital.conncoll.edu">The Tarimo Research Group</a></h3>
            <p> <i class="fa fa-map-marker"></i> Address: <a>New London Hall 209</a></p>
            <p> <i class="fa fa-envelope-o"></i> Group: <a href="mailto:tarimoresearchlab@conncoll.edu">tarimoresearchlab@conncoll.edu</a></br></p>
            <p> <i class="fa fa-envelope-o"></i> Support: <a href="mailto:support@colorfulcamels.digital.conncoll.edu">support@colorfulcamels.digital.conncoll.edu</a></p>
          </div>

          <div class="col-sm-3">
            <%= image_tag("lab-logo.png", alt: "The Tarimo Research Group Logo", title: "The Tarimo Research Group", style: "max-height: 220px;") %>
            </br>
          </div>
        </div>
      
    </div>
  </div>
  <div class="container-fluid text-center ft-copyright">
    <p>&copy; 2020 <a href="index.html">Colorful Camels </a> - Created by <a href="tarimolab.digital.conncoll.edu">The Tarimo Research Group</a></p>
  </div>
</footer>
<div class="scroll-up">
  <a href="#"><i class="fa fa-angle-up"></i></a>
</div>